[Unit]
Description=Registra Ponto Backend API
After=network.target

[Service]
Type=notify
User=ubuntu
Group=ubuntu
WorkingDirectory=/home/ubuntu/RP_Full/backend
Environment="PATH=/home/ubuntu/RP_Full/backend/venv/bin"
Environment="PYTHONPATH=/home/ubuntu/RP_Full/backend"
EnvironmentFile=/home/ubuntu/RP_Full/backend/.env
ExecStart=/home/ubuntu/RP_Full/backend/venv/bin/gunicorn --config config/gunicorn.py wsgi:app
ExecReload=/bin/kill -s HUP $MAINPID
KillMode=mixed
TimeoutStopSec=5
PrivateTmp=true
Restart=always
RestartSec=10

[Install]
WantedBy=multi-user.target
